.user__wrap {
    text-align: center;
    background: #eeeeee;
    // height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .user__input {
        display: flex;
        gap: 10px;
        .width_input {
            width: 100%;
        }
    }
}
.rowTable {
    cursor: pointer;
}
.wrap__view-avatar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    .view__avatar {
        display: block;
        border-radius: 50%;
        object-fit: cover;
        width: 200px;
        height: 200px;
        cursor: pointer;
    }
}
.wrapper__dashboard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap_action {
    display: flex;
    gap: 30px;
    justify-content: end;
}
.menu-bottom__wrap {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-bottom__style {
        display: flex;
        gap: 5px;
        color: black;
    }
}
