.user__wrap {
    text-align: center;
    background: #eeeeee;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .user__input {
        display: flex;
        gap: 10px;
        .width_input {
            width: 100%;
        }
    }
}
.wrap__view-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    .view__avatar {
        display: block;
        border-radius: 50%;
        object-fit: cover;
        width: 200px;
        height: 200px;
    }
}
.wrapper__dashboard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap_action {
    display: flex;
    gap: 30px;
    justify-content: end;
}
